[Unit]
Description=Automatically start webcamize
After=graphical.target

[Service]
ExecStartPre=/bin/sleep 60
ExecStart=/usr/local/bin/webcamize
Restart=on-failure

[Install]
WantedBy=multi-user.target